export("maxlike")

S3method(print, maxlikeFit)
S3method(coef, maxlikeFit)
S3method(vcov, maxlikeFit)
S3method(summary, maxlikeFit)
S3method(logLik, maxlikeFit)
S3method(AIC, maxlikeFit)
S3method(predict, maxlikeFit)

